<div
  id="EditAddress_{{ address.id }}"
  class="p-8"
>
  <h2 class="h2 text-center">{{ 'customer.addresses.edit_address' | t }}</h2>

  {%- form 'customer_address', address, class: 'flex flex-col gap-y-4' -%}
    <div class="flex flex-col gap-y-1">
      <label class="form__label" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
      <input
        type="text"
        id="AddressFirstName_{{ form.id }}"
        class="form__input"
        name="address[first_name]"
        value="{{ form.first_name }}"
        autocomplete="given-name"
        placeholder="{{ 'customer.addresses.first_name' | t }}"
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label class="form__label" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
      <input
        type="text"
        id="AddressLastName_{{ form.id }}"
        class="form__input"
        name="address[last_name]"
        value="{{ form.last_name }}"
        autocomplete="family-name"
        placeholder="{{ 'customer.addresses.last_name' | t }}"
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label class="form__label" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
      <input
        type="text"
        id="AddressCompany_{{ form.id }}"
        class="form__input"
        name="address[company]"
        value="{{ form.company }}"
        autocomplete="organization"
        placeholder="{{ 'customer.addresses.company' | t }}"
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label class="form__label" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
      <input
        type="text"
        id="AddressAddress1_{{ form.id }}"
        class="form__input"
        name="address[address1]"
        value="{{ form.address1 }}"
        autocomplete="address-line1"
        placeholder="{{ 'customer.addresses.address1' | t }}"
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label class="form__label" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
      <input
        type="text"
        id="AddressAddress2_{{ form.id }}"
        class="form__input"
        name="address[address2]"
        value="{{ form.address2 }}"
        autocomplete="address-line2"
        placeholder="{{ 'customer.addresses.address2' | t }}"
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label class="form__label" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
      <input
        type="text"
        id="AddressCity_{{ form.id }}"
        class="form__input"
        name="address[city]"
        value="{{ form.city }}"
        autocomplete="address-level2"
        placeholder="{{ 'customer.addresses.city' | t }}"
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label class="form__label" for="AddressCountry_{{ form.id }}">
        {{- 'customer.addresses.country' | t -}}
      </label>

      <div class="select">
        <select
          id="AddressCountry_{{ form.id }}"
          class="form__input"
          name="address[country]"
          data-address-country-select
          data-default="{{ form.country }}"
          data-form-id="{{ form.id }}"
          autocomplete="country"
        >
          {{- all_country_option_tags -}}
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-y-1" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
      <label class="form__label" for="AddressProvince_{{ form.id }}">
        {{- 'customer.addresses.province' | t -}}
      </label>
      <div class="select">
        <select
          id="AddressProvince_{{ form.id }}"
          class="form__input"
          name="address[province]"
          data-default="{{ form.province }}"
          autocomplete="address-level1"
        ></select>
      </div>
    </div>

    <div class="flex flex-col gap-y-1">
      <label class="form__label" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
      <input
        type="text"
        id="AddressZip_{{ form.id }}"
        class="form__input"
        name="address[zip]"
        value="{{ form.zip }}"
        autocapitalize="characters"
        autocomplete="postal-code"
        placeholder="{{ 'customer.addresses.zip' | t }}"
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label class="form__label" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
      <input
        type="tel"
        id="AddressPhone_{{ form.id }}"
        class="form__input"
        name="address[phone]"
        value="{{ form.phone }}"
        autocomplete="tel"
        placeholder="{{ 'customer.addresses.phone' | t }}"
      >
    </div>

    <div class="flex flex-row gap-2 items-center">
      {{ form.set_as_default_checkbox }}
      <label class="form__label" for="address_default_address_{{ form.id }}">
        {{ 'customer.addresses.set_default' | t }}
      </label>
    </div>

    <div class="flex flex-row justify-center gap-5">
      <button type="submit" class="button-primary" @click="$event.target.classList.add('processing-spinner')">
        {{- 'customer.addresses.update' | t -}}
      </button>

      <button type="button" class="button-secondary" @click="closeModal()">
        {{- 'customer.addresses.cancel' | t -}}
      </button>
    </div>
  {%- endform -%}
</div>
