<div
  class="w-full"
  x-data="
    {
      openSubMenu2: false,
      onOpenSubmenu2() {
        this.openSubMenu2 = true;
      },
      onCloseSubmenu2() {
        this.openSubMenu2 = false;
      }
    }
  "
  @nav-drawer-closed.window="onCloseSubmenu2()"
>
  <button
    type="button"
    class="w-full flex flex-row gap justify-between items-center px-8 py-4 body-2"
    :aria-expanded="openSubMenu2"
    x-on:click="onOpenSubmenu2()"
  >
    <span>{{ link.title | escape }}</span>
    {%- render 'icon-arrow' -%}
  </button>

  <div
    class="fixed w-full max-w-[420px] h-[calc(100%-80px)] top-[80px] left-0 z-[5] gradient color-{{ section.settings.menu_color_scheme }}"
    style="display:none;"
    x-trap="openSubMenu2"
    x-show="openSubMenu2"
    x-transition:enter="transition-all ease-out duration-200"
    x-transition:enter-start="!-left-full"
    x-transition:enter-end="left-0"
    x-transition:leave="transition-all ease-in duration-200"
    x-transition:leave-start="left-0"
    x-transition:leave-end="!-left-full"
  >
    <div class="relative h-full grid grid-rows-[auto_1fr]">
      <button
        class="w-full flex px-8 py-4 body-2"
        x-on:click="onCloseSubmenu2()"
      >
        <span class="flex flex-row gap-4">
          {%- render 'icon-arrow', class: 'w-4 rotate-180' -%}
          {{- link.title | escape -}}
        </span>
      </button>

      <div class="overflow-y-auto">
        <ul class="w-full flex flex-col" role="list" tabindex="-1">
          {%- for childlink in link.links -%}
            <li>
              <a
                href="{{ childlink.url }}"
                class="flex px-8 py-4 body-2"
                {% if childlink.current %}
                  aria-current="page"
                {% endif %}
              >
                {{- childlink.title | escape -}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>
