<ul
  class="w-full max-w-[300px] p-4 rounded-[15px] shadow-md z-[10] overflow-hidden border border-gray-200 border-opacity-20 color-{{ section.settings.menu_color_scheme }} gradient"
  role="list"
  tabindex="-1"
  x-show="isMenuOpen"
  x-trap="isMenuOpen"
  x-transition.origin.top.left
  x-anchor.bottom-start.offset.10="$refs.navLinkMenu"
  style="display: none; color: rgba(var(--color-foreground)); background-color: rgb(var(--color-background));"
  :aria-hidden="!isMenuOpen"
>
  {%- for childlink in link.links -%}
    <li>
      {%- if childlink.links != blank -%}
        <div
          x-data="
            {
              isChildMenuOpen: false,
              onToggleChildMenu() {
                this.isChildMenuOpen = !this.isChildMenuOpen;
              }
            }
          "
        >
          <button
            type="button"
            class="w-full flex flex-row justify-between items-center gap-4 py-3"
            x-on:click="onToggleChildMenu()"
            :aria-expanded="isChildMenuOpen"
          >
            <span>{{ childlink.title | escape }}</span>
            <span
              class="transition-transform"
              :class="{ 'rotate-180': isChildMenuOpen }"
              aria-hidden="true"
            >
              {%- render 'icon-caret' -%}
            </span>
          </button>

          <div
            class="w-full"
            x-show="isChildMenuOpen"
            x-collapse
            style="display: none;"
          >
            <ul
              class="flex flex-col border-y border-gray-200 py-2 pl-5 pr-3"
            >
              {%- for grandchildlink in childlink.links -%}
                <li>
                  <a
                    href="{{ grandchildlink.url }}"
                    class="block py-1.5 {% if grandchildlink.current %} font-semibold{% endif %}"
                    {% if grandchildlink.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{- grandchildlink.title | escape -}}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {%- else -%}
        <a
          href="{{ childlink.url }}"
          class="block py-3 {% if childlink.current %} font-semibold{% endif %}"
          {% if childlink.current %}
            aria-current="page"
          {% endif %}
        >
          {{- childlink.title | escape -}}
        </a>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
