{%- liquid
  assign has_padding = has_padding | default: true, allow_false: true
  assign is_open = is_open | default: false, allow_false: true
  assign full_height = full_height | default: false, allow_false: true
  assign disable_close = disable_close | default: false, allow_false: true
  assign class = class | default: blank
  assign close_button_class = close_button_class | default: blank
  assign width = width | default: blank
  assign width_percentage = width_percentage | default: blank
  assign id = id | default: blank
-%}

{%- capture modal_content -%}
  {%- if modal_content == blank -%}
    <div>modal_content is missing</div>
  {%- else -%}
    {{- modal_content -}}
  {%- endif -%}
{%- endcapture -%}

<div
  x-data="
    {
      modalIsOpen: {{ is_open | json }},
      openModal() {
        this.modalIsOpen = true;
      },
      closeModal() {
        {% if disable_close %} return; {% endif %}
        this.modalIsOpen = false;
      },
      init() {
        document.addEventListener('click', (e) => {
          if (!e.target.closest('[data-modal={{ id }}]')) return;
          this.openModal();
        });

        this.$watch('modalIsOpen', () => {
          document.body.classList.toggle('!overflow-hidden', this.modalIsOpen);
        });
      }
    }
  "
  @keydown.escape.window="closeModal"
  x-cloak
  style="display: none;"
  x-show="modalIsOpen"
  x-trap="modalIsOpen"
  class="fixed inset-0 z-50 overflow-hidden w-full h-full flex items-end md:items-center justify-center md:px-4 text-center"
  role="dialog"
  aria-modal="true"
>
  <div
    @click="closeModal"
    x-show="modalIsOpen"
    x-transition:enter="transition ease-out duration-300 transform"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-200 transform"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="fixed inset-0 transition-opacity bg-black bg-opacity-70"
    aria-hidden="true"
  ></div>

  <div
    x-show="modalIsOpen"
    x-transition:enter="transition ease-out duration-300 transform"
    x-transition:enter-start="opacity-50 translate-y-16 md:translate-y-0 md:scale-95"
    x-transition:enter-end="opacity-100 translate-y-0 md:scale-100"
    x-transition:leave="transition ease-in duration-200 transform"
    x-transition:leave-start="opacity-100 translate-y-0 md:scale-100"
    x-transition:leave-end="opacity-0 translate-y-16 md:translate-y-0 md:scale-95"
    class="
      {% if width == blank and width_percentage == blank %} md:max-w-[500px] {% endif %}
      {% if full_height %} h-full {% endif %}
      {% if has_padding %} px-7 py-6 {% else %} p-0 {% endif %}
      relative w-full max-h-[90%] text-left overflow-y-auto
      transition-all transform bg-white rounded-[20px] md-down:rounded-b-none shadow-xl {{ class }}
    "
    {% if width != blank %}
      style="max-width: {{ width }}px;"
    {% elsif width_percentage != blank %}
      style="max-width: {{ width_percentage | append: '%' }};"
    {% endif %}
  >
    {%- unless disable_close -%}
      {%- if close_button_class == blank -%}
        {%- assign close_button_class = 'absolute right-3 top-3' -%}
        {%- if has_padding -%}
          {%- assign close_button_class = 'absolute right-0 top-0' -%}
        {%- endif -%}
      {%- endif -%}

      <div class="sticky top-0 w-full z-[6] {{ closeButtonWrapperClass }}">
        <button class="{{ close_button_class}}" @click="closeModal">
          {%- render 'icon-close', class: 'w-8' -%}
        </button>
      </div>
    {%- endunless -%}

    {{- modal_content -}}
  </div>
</div>
