{%- assign local_position = local_position -%}
{%- assign form_id = local_position | append: 'NewsletterForm' -%}

{%- form 'customer', id: form_id, class: '' -%}
  <input type="hidden" name="contact[tags]" value="newsletter">

  <div class="flex flex-row justify-between border border-white rounded-[20px] h-16 has-[:focus]:outline has-[:focus]:outline-white has-[:focus]:outline-1">
    <label class="sr-only" for="{{ form_id }}-input">
      {{ 'newsletter.label' | t }}
    </label>

    <input
      id="{{ form_id }}-input"
      type="email"
      name="contact[email]"
      class="bg-transparent w-full pl-4 h-full outline-none"
      value="{{ form.email }}"
      aria-required="true"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="email"
      {% if form.errors %}
        autofocus
        aria-invalid="true"
        aria-describedby="ContactFooter-error"
      {% elsif form.posted_successfully? %}
        aria-describedby="ContactFooter-success"
      {% endif %}
      placeholder="{{ 'newsletter.label' | t }}"
      required
    >

    <button
      type="submit"
      class="px-4 h-full group animate-arrow"
      name="commit"
      aria-label="{{ 'newsletter.button_label' | t }}"
    >
      {%- render 'icon-arrow', class: 'w-6' -%}
    </button>
  </div>

  {%- if form.errors -%}
    <div class="richtext text-error text-center mt-5 body-2" id="ContactFooter-error">
      {%- render 'icon-error', class: 'w-4 inline-block' -%}
      {{- form.errors.translated_fields.email | capitalize }}
      {{ form.errors.messages.email -}}
    </div>
  {%- endif -%}

  {%- if form.posted_successfully? -%}
    <div
      class="richtext text-success text-center mt-5 body-2"
      id="ContactFooter-success"
      tabindex="-1"
      autofocus
    >
      {%- render 'icon-success', class: 'w-4 inline-block' -%}
      {{- 'newsletter.success' | t }}
    </div>
  {%- endif -%}
{%- endform -%}
