{% comment %}
  Only For B2B Customers
  This will be shown only for B2B customers and when the product has configured quantity and volume pricing rules.
  https://help.shopify.com/es/manual/b2b/catalogs/quantity-pricing
{% endcomment %}

{%- if product.quantity_price_breaks_configured? -%}
  {%- liquid
    assign volume_pricing_array = selected_variant.quantity_price_breaks | sort: 'quantity' | reverse
    assign current_qty_for_volume_pricing = cart_qty | plus: selected_variant.quantity_rule.min

    assign cart_qty = cart | item_count_for_variant: selected_variant.id
    if cart_qty > 0
      assign current_qty_for_volume_pricing = cart_qty | plus: selected_variant.quantity_rule.increment
    endif
  -%}

  <price-per-item
    id="Price-Per-Item-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-variant-id="{{ selected_variant.id }}"
  >
    <div class="price-per-item">
      {%- if selected_variant.compare_at_price -%}
        <s class="text-disabled">
          {{- selected_variant.compare_at_price | money -}}
        </s>
      {%- endif -%}

      {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity
        or selected_variant.quantity_price_breaks.size == 0
      -%}
        {%- assign variant_price = selected_variant.price | money -%}
        <span>
          {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
        </span>
      {%- else -%}
        {%- for price_break in volume_pricing_array -%}
          {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
            {%- assign price_break_price = price_break.price | money -%}
            <span>
              {{- 'products.product.volume_pricing.price_at_each' | t: price: price_break_price -}}
            </span>
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </price-per-item>
{%- endif -%}
