{%- assign recover_success = false -%}
{%- assign recover_error = false -%}

<section
  id="recover"
  class="c-container py-8 lg:py-12 flex flex-col gap-y-5 max-w-[600px]"
  role="region"
  aria-label="{{ 'customer.recover_password.title' | t }}"
  style="display: none;"
>
  <h1 class="h2 text-center">
    {{- 'customer.recover_password.title' | t -}}
  </h1>

  <p class="body-3">
    {{- 'customer.recover_password.subtext' | t -}}
  </p>

  {%- form 'recover_customer_password', class: 'w-full flex flex-col gap-y-5' -%}
    {%- assign recover_success = form.posted_successfully? -%}

    {%- if recover_success == true -%}
      <p class="text-success" tabindex="-1" autofocus>
        {%- render 'icon-success', class: 'w-4 inline-block' -%}
        {{- 'customer.recover_password.success' | t -}}
      </p>
    {%- endif -%}

    <div class="flex flex-col gap-y-1">
      <label for="RecoverEmail" class="form__label leading-[1]">
        {{- 'customer.login_page.email' | t -}}
      </label>

      <input
        type="email"
        value=""
        name="email"
        id="RecoverEmail"
        class="form__input"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="RecoverEmail-email-error"
          autofocus
        {% endif %}
        placeholder="{{ 'customer.login_page.email' | t }}"
      >
    </div>

    {%- if form.errors -%}
      {%- assign recover_error = true -%}
      <small id="RecoverEmail-email-error" class="text-error">
        {%- render 'icon-error', class: 'w-4 inline-block' -%}
        {{- form.errors.messages.form -}}
      </small>
    {%- endif -%}

    <button type="submit" class="button-primary medium">
      {{- 'customer.login_page.submit' | t -}}
    </button>

    <a
      class="body-4 underline font-medium w-max text-center mx-auto"
      href="#login"
    >
      {{- 'customer.login_page.cancel' | t -}}
    </a>
  {%- endform -%}
</section>

{%- if recover_success or recover_error -%}
  <script>
    window.location.hash = '#recover';
  </script>
{%- endif -%}
