<div class="flex rounded-full has-[:checked]:outline has-[:checked]:outline-2 has-[:checked]:outline-offset-2">
  <input
    type="checkbox"
    id="{{ id }}"
    name="{{ value.param_name }}"
    value="{{ value.value }}"
    form="{{ product_form_id }}"
    class="peer sr-only"
    {% if value.active %}
      checked
    {% endif %}
    {% if option_disabled %}
      disabled
    {% endif %}
  >

  {%- liquid
    assign swatch_value = null
    assign swatch = value.swatch

    if swatch.image
      assign image_url = swatch.image | image_url: width: 100
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = swatch.image.presentation.focal_point
    elsif swatch.color
      assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
    endif
  -%}

  <label
    for="{{ id }}"
    title="{{ value.value }}"
    class="
      w-8 h-8 rounded-full border border-black block bg-gray-200 cursor-pointer
      peer-disabled:cursor-default peer-disabled:border-dashed peer-disabled:opacity-40
    "
    {% if swatch_value %}
      style="background: {{ swatch_value }}; {% if swatch_focal_point %} background-position: {{ swatch_focal_point }};{% endif %}"
    {% endif %}
  ></label>
</div>
