<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
{%- if product.quantity_price_breaks_configured? -%}
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<section
  id="MainProduct-{{ section.id }}"
  class="py-10 gradient color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
>
  <div class="c-container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10 product">
      <div class="w-full">
        <a class="skip-to-content-link sr-only" href="#ProductInfo-{{ section.id }}">
          {{- 'accessibility.skip_to_product_info' | t -}}
        </a>

        {%- render 'product-media-gallery' -%}
      </div>

      <div class="w-full">
        <product-info
          id="ProductInfo-{{ section.id }}"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
          class="product__info-container space-y-3 {% if section.settings.enable_sticky_info %} md:sticky md:top-12 {% endif %}"
        >
          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'text' -%}
                {%- render 'product-block-text', product: product, block: block -%}
              {%- when 'title' -%}
                {%- render 'product-block-title', product: product, block: block -%}
              {%- when 'sku' -%}
                {%- render 'product-block-sku', product: product, block: block -%}
              {%- when 'price' -%}
                {%- render 'product-block-price', product: product, block: block -%}
              {%- when 'rating' -%}
                {%- render 'product-block-rating', product: product -%}
              {%- when 'variant_picker' -%}
                {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
              {%- when 'quantity_selector' -%}
                {%- render 'product-block-quantity-selector',
                  product: product,
                  block: block,
                  product_form_id: product_form_id
                -%}
              {%- when 'buy_buttons' -%}
                {%- render 'buy-buttons',
                  block: block,
                  product: product,
                  product_form_id: product_form_id,
                  section_id: section.id
                -%}
              {%- when 'collapsible_tab' -%}
                {%- render 'product-block-collapsible-tab', product: product, block: block -%}
              {%- when 'description' -%}
                {%- render 'product-block-description', product: product, block: block -%}
              {%- when 'icon-with-text' -%}
                {%- render 'product-block-icon-with-text', product: product, block: block -%}
            {%- endcase -%}
          {%- endfor -%}
        </product-info>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Information",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "Enable sticky content on desktop"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            }
          ],
          "default": "body",
          "label": "Text Style"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            }
          ],
          "default": "body",
          "label": "Text style"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "id": "swatch_shape",
          "label": "Swatch shape",
          "type": "select",
          "info": "Enable [swatches](https://help.shopify.com/en/manual/online-store/themes/theme-structure/theme-settings#options-with-swatches) on product options.",
          "options": [
            {
              "value": "circle",
              "label": "Circle"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "circle"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eius, aperiam omnis labore suscipit inventore expedita aliquid, iusto autem ea laudantium illum non odit! Vitae sint laudantium nam placeat natus!</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page content"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Product Rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/page-types#product-rating-block)"
        }
      ]
    },
    {
      "type": "icon-with-text",
      "name": "Icon with text",
      "settings": [
        {
          "type": "header",
          "content": "General Settings"
        },
        {
          "type": "range",
          "id": "image_height",
          "min": 10,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Image height",
          "default": 30
        },
        {
          "type": "header",
          "content": "First Column"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "First image"
        },
        {
          "type": "inline_richtext",
          "id": "heading_1",
          "default": "Heading",
          "label": "First heading"
        },
        {
          "type": "header",
          "content": "Second Column"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Second image"
        },
        {
          "type": "inline_richtext",
          "id": "heading_2",
          "default": "Heading",
          "label": "Second heading"
        },
        {
          "type": "header",
          "content": "Third Column"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Third image"
        },
        {
          "type": "inline_richtext",
          "id": "heading_3",
          "default": "Heading",
          "label": "Third heading"
        }
      ]
    }
  ]
}
{% endschema %}
