<section
  class="c-container text-center flex flex-col gap-y-8 items-center py-16"
  role="region"
  aria-label="{{ 'templates.404.title' | t }}"
>
  <p class="h3">
    {{- 'templates.404.subtext' | t -}}
  </p>

  <h1 class="h2">
    {{- 'templates.404.title' | t -}}
  </h1>

  <a href="{{ routes.all_products_collection_url }}" class="button-primary">
    {{- 'general.continue_shopping' | t -}}
  </a>
</section>
