<section
  id="register"
  class="c-container py-8 lg:py-12 flex flex-col gap-y-5 max-w-[600px]"
  role="region"
  aria-label="{{ 'customer.register.title' | t }}"
>
  <h1 class="h2 text-center">
    {{- 'customer.register.title' | t -}}
  </h1>

  {%- form 'create_customer', novalidate: 'novalidate', class: 'w-full flex flex-col gap-y-4' -%}
    {%- if form.errors -%}
      <div class="flex flex-col gap-y-2 text-error body-4">
        <p tabindex="-1" autofocus>
          {{- 'templates.contact.form.error_heading' | t -}}
        </p>

        <ul class="list-disc list-inside flex flex-col gap-y-1">
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a
                  href="#RegisterForm-{{ field }}"
                  onclick="event.preventDefault(); document.getElementById('RegisterForm-{{ field }}').focus()"
                >
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    <div class="flex flex-col gap-y-1">
      <label for="RegisterForm-FirstName" class="form__label leading-[1]">
        {{- 'customer.register.first_name' | t -}}
      </label>

      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        class="form__input"
        {% if form.first_name %}
          value="{{ form.first_name }}"
        {% endif %}
        autocomplete="given-name"
        placeholder="{{ 'customer.register.first_name' | t }}"
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label for="RegisterForm-LastName">
        {{- 'customer.register.last_name' | t -}}
      </label>

      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        class="form__input"
        {% if form.last_name %}
          value="{{ form.last_name }}"
        {% endif %}
        autocomplete="family-name"
        placeholder="{{ 'customer.register.last_name' | t }}"
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label for="RegisterForm-email" class="form__label leading-[1]">
        {{- 'customer.register.email' | t -}}
      </label>

      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        class="form__input"
        {% if form.email %}
          value="{{ form.email }}"
        {% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="{{ 'customer.register.email' | t }}"
      >

      {%- if form.errors contains 'email' -%}
        <span id="RegisterForm-email-error" class="text-error body-4">
          {%- render 'icon-error', class: 'w-3 inline-block' -%}
          {{ form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email }}.
        </span>
      {%- endif -%}
    </div>

    <div class="flex flex-col gap-y-1">
      <label for="RegisterForm-password" class="form__label leading-[1]">
        {{- 'customer.register.password' | t -}}
      </label>

      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        class="form__input"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="{{ 'customer.register.password' | t }}"
      >

      {%- if form.errors contains 'password' -%}
        <span id="RegisterForm-password-error" class="text-error body-4">
          {%- render 'icon-error', class: 'w-3 inline-block' -%}
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}.
        </span>
      {%- endif -%}
    </div>

    <button type="submit" class="button-primary medium">
      {{- 'customer.register.submit' | t -}}
    </button>
  {%- endform -%}

  <div class="flex flex-col gap-y-5">
    <p class="text-center">
      {{ 'customer.login_page.alternate_provider_separator' | t }}
    </p>

    <a
      href="{{ routes.account_login_url }}"
      class="mx-auto w-max text-center body-4 underline font-medium"
    >
      {{- 'customer.login_page.title' | t -}}
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Register Page"
}
{% endschema %}
