<style type="text/css">
  .password-logo {
    max-width: {{ settings.logo_width }}px;
  }
</style>

<div class="w-full py-16 color-{{ section.settings.color_scheme }} gradient">
  <div class="c-container max-w-[600px] mx-auto flex flex-col gap-y-10 items-center">
    {%- if settings.logo != blank -%}
      {%- render 'image-element', image: settings.logo, max_width: 1000, class: 'password-logo' -%}
    {%- else -%}
      <h1 class="h2 text-center">{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="text-center">
        {{- shop.password_message -}}
      </div>
    {%- endif -%}

    {%- form 'storefront_password', class: 'w-full' -%}
      <div class="flex flex-col gap-y-5">
        <label class="form__label text-center" for="Password">
          {{- 'general.password_page.login_form_password_placeholder' | t -}}
        </label>

        <input
          type="password"
          name="password"
          id="Password"
          class="form__input w-full bg-white text-black"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordLoginForm-password-error"
          {%- endif -%}
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >

        {%- if form.errors -%}
          <div id="PasswordLoginForm-password-error" role="status">
            <span class="sr-only">{{ 'accessibility.error' | t }}</span>
            <span class="text-error">
              {%- render 'icon-error', class: 'w-4 inline-block' %}
              {{ 'general.password_page.login_form_error' | t -}}
            </span>
          </div>
        {%- endif -%}

        <button name="commit" class="flex button-primary medium w-full">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "paragraph",
      "content": "Edit your logo in theme settings."
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
