{{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

{% paginate search.results by 24 %}
  <section
    role="region"
    class="py-12"
    aria-label="Search results"
  >
    <div class="c-container flex flex-col gap-y-5 relative">
      <h1 class="h2 center">
        {%- if search.performed -%}
          {{- 'templates.search.title' | t -}}
        {%- else -%}
          {{- 'general.search.search' | t -}}
        {%- endif -%}
      </h1>

      {%- render 'search-page-form', search: search -%}

      {%- if search.performed -%}
        {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
          {%- if search.results_count > 0 -%}
            <p role="status">
              {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}
            </p>
          {%- endif -%}
        {%- endunless -%}

        {%- if search.results_count == 0 and search.filters == empty -%}
          <p role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
        {%- endif -%}
      {%- endif -%}

      {%- if search.performed -%}
        {%- if section.settings.enable_sorting and search.filters != empty -%}
          {%- render 'search-sort', search: search -%}
        {%- endif -%}

        <div class="grid grid-cols-1 {% if section.settings.enable_filtering %} md:grid-cols-3 lg:grid-cols-4 {% endif %} gap-5 lg:gap-10">
          {%- if search.filters != empty -%}
            {%- if section.settings.enable_filtering -%}
              <aside
                aria-labelledby="Filters"
                class="col-span-1"
                id="main-search-filters"
                data-id="{{ section.id }}"
              >
                {% render 'facets',
                  results: search,
                  enable_sorting: section.settings.enable_sorting,
                  paginate: paginate
                %}
              </aside>
            {%- endif -%}
          {%- endif -%}

          <div
            class="col-span-1 {% if section.settings.enable_filtering %} md:col-span-2 lg:col-span-3 {% endif %} product-grid-container"
            id="ProductGridContainer"
          >
            <div class="loading-overlay gradient"></div>

            <div
              class="flex flex-col gap-y-8"
              id="product-grid"
              data-id="{{ section.id }}"
            >
              {%- if search.results.size == 0 and search.filters != empty -%}
                <h2 class="body-3 text-center py-12">
                  {{ 'sections.collection_template.empty' | t -}}
                  <br>
                  {{
                    'sections.collection_template.use_fewer_filters_html'
                    | t: link: search_url, class: 'underlined-link link'
                  }}
                </h2>

              {%- else -%}
                {%- assign columnsDesktop = 'lg:grid-cols-3' -%}
                {%- case section.settings.columns_desktop -%}
                  {%- when 2 -%}
                    {%- assign columnsDesktop = 'lg:grid-cols-2' -%}
                  {%- when 3 -%}
                    {%- assign columnsDesktop = 'lg:grid-cols-3' -%}
                  {%- when 4 -%}
                    {%- assign columnsDesktop = 'lg:grid-cols-4' -%}
                  {%- when 5 -%}
                    {%- assign columnsDesktop = 'lg:grid-cols-5' -%}
                {%- endcase -%}

                {%- assign columnsMobile = 'grid-cols-1' -%}
                {%- case section.settings.columns_mobile -%}
                  {%- when '1' -%}
                    {%- assign columnsMobile = 'grid-cols-1' -%}
                  {%- when '2' -%}
                    {%- assign columnsMobile = 'grid-cols-2' -%}
                {%- endcase -%}

                {%- assign search_products = search.results | where: 'object_type', 'product' -%}
                {%- assign search_pages = search.results | where: 'object_type', 'page' -%}
                {%- assign search_articles = search.results | where: 'object_type', 'article' -%}

                {%- if search_products.size > 0 -%}
                  <ul
                    class="grid {{ columnsMobile }} md:grid-cols-2 {{ columnsDesktop }} gap-x-3 md:gap-x-5 gap-y-5"
                    role="list"
                  >
                    {%- for product in search_products -%}
                      {% assign priority = false %}
                      {%- if forloop.index <= 3 -%}
                        {%- assign priority = true -%}
                      {%- endif -%}

                      <li class="col-span-1">
                        {%- render 'card-product',
                          product: product,
                          show_secondary_image: section.settings.show_secondary_image,
                          show_vendor: section.settings.show_vendor,
                          priority: priority
                        -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

                {%- if search_articles.size > 0 -%}
                  <div class="w-full flex flex-col gap-y-5">
                    <h2 class="h3">Articles</h2>

                    <ul
                      class="grid {{ columnsMobile }} md:grid-cols-2 {{ columnsDesktop }} gap-x-3 md:gap-x-5 gap-y-5"
                      role="list"
                    >
                      {%- for article in search_articles -%}
                        {% assign priority = false %}
                        {%- assign itemPosition = search_products.size | plus: forloop.index -%}
                        {%- if itemPosition <= 3 -%}
                          {%- assign priority = true -%}
                        {%- endif -%}

                        <li class="col-span-1">
                          {%- render 'article-card',
                            article: article,
                            show_date: section.settings.article_show_date,
                            show_author: section.settings.article_show_author,
                            priority: priority
                          -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}

                {%- if search_pages.size > 0 -%}
                  <div class="w-full flex flex-col gap-y-5">
                    <h2 class="h3">Pages</h2>

                    <ul
                      class="w-full flex flex-col gap-y-5"
                      role="list"
                    >
                      {%- for page in search_pages -%}
                        <li class="flex flex-col gap-y-3 w-full p-5 rounded-[15px] border border-gray-500/50 relative overflow-hidden">
                          {%- if page.title != blank -%}
                            <a href="{{ page.url }}" class="body-3 font-semibold">{{- page.title -}}</a>
                          {%- endif -%}

                          {%- assign content = page.content -%}
                          {%- if content != blank -%}
                            {%- assign shortContent = content | strip_html | truncate: 500, '...' -%}
                            <div class="body-4 line-clamp-3">{{- shortContent -}}</div>
                          {%- endif -%}

                          <a class="body-4 font-semibold underline" href="{{ page.url }}">
                            <span>Read more</span>
                            <span class="sr-only">{{ page.title }}</span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}

                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate %}
                {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </section>
{% endpaginate %}

{% schema %}
{
  "name": "Search Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Number of columns on desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Number of columns on mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "Show secondary image"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "Show vendor"
    },
    {
      "type": "header",
      "content": "Filtering and sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "Enable filtering",
      "info": "Customize filters with the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/filters)"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "Enable sorting"
    },
    {
      "type": "header",
      "content": "Blog card"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "Show date"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": true,
      "label": "Show author"
    }
  ]
}
{% endschema %}
